mixin displayObj(objToDisplay, currentKey=[], values, attribs)
	each key in Object.keys(objToDisplay)
		unless objToDisplay[key].hidden || objToDisplay[key].static
			- var width = 2
			- var height = 1
			if objToDisplay[key].width
				- width = objToDisplay[key].width
			if objToDisplay[key].height
				- height = objToDisplay[key].height
			
			if objToDisplay[key].type
				div.form-group.attribDisplay(class=key class="width-"+width class="height-"+height)
					+displayForm(currentKey, key, objToDisplay[key],values,attribs)

			else if Array.isArray(objToDisplay[key])
				if Object.keys(objToDisplay[key][0]).includes("type")
					div.form-group.smallArrayDisplay(class=key class="width-"+width class="height-"+height)
						+displayTags(currentKey, key, objToDisplay[key][0],values,attribs)
				else 
					div.form-group.arrayDisplay(class=key class="width-"+width class="height-"+height)
						+displayTitleAndTooltip(key)
						div.objectDisplay
							+displayObj(objToDisplay[key][0],currentKey.concat([key,0]),values,attribs)

			else if typeof(objToDisplay) === "object"
				div.form-group.objectDisplay(class=key class="width-"+width class="height-"+height)
					+displayTitleAndTooltip(key)
					+displayObj(objToDisplay[key],currentKey.concat([key]),values,attribs)

mixin displayForm(currentKey, key, objToDisplay, values, attribs)
	+displayTitleAndTooltip(key)
	- var current_type = "none"
	case objToDisplay.type
		when "String"
			- current_type = "text"
		when "Number"
			- current_type = "number"
		when "Boolean"
			- current_type = "checkbox"
		when "Date"
			- current_type = "date"
		default
			- current_type = "text"

	-let combinedKeys = currentKey.concat([key])
	-let keystring = pug_helper.propListToString(combinedKeys)
	-let value = ""

	if typeof(values) === "object"
		-value = pug_helper.getObjProperty(values,combinedKeys)

	if current_type == "text" && objToDisplay.height
		textarea.form-control(name=keystring)&attributes(attribs) #{value}

	else
		input.form-control(type=current_type, name=keystring, value=value)&attributes(attribs)

mixin displayTags(currentKey, key, objToDisplay, values, attribs)
	+displayTitleAndTooltip(key)

	-let combinedKeys = currentKey.concat([key])
	-let keystring = pug_helper.propListToString(combinedKeys)
	-let value = ""

	if typeof(values) === "object"
		-value = pug_helper.getObjProperty(values,combinedKeys)

	input.form-control.tagDiv(id="tag-"+keystring,type="text")
	input(id="hidden-"+keystring, type="hidden", name=keystring, value=value)

mixin displayTitleAndTooltip(key)
	div.titlebar
		span.bigLabel= locale.schema[key]
		div.tooltip ?
			div.tooltipdiv=locale.schema[key]
				if descriptions && descriptions[key]
					textarea.tooltiptext.autoexpand(disabled)=descriptions[key]
				else 
					textarea.tooltiptext.autoexpand(disabled)
				button.tooltipbtn.tooltipmod(type="button") Modifier
				button.tooltipbtn.tooltipvalidate(type="button") Valider
				button.tooltipbtn.tooltipcancel(type="button") Annuler
				span.helpid=key